@import "bootstrap/dist/css/bootstrap.min.css";

body {
  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

.excuse-container {
  text-align: center;
  padding: 40px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

#excuse {
  font-size: 30px;
  margin-top: 20px;
  color: #333;
}